:root {
  --lansinfra-orange: #F46A1F;
  --lansinfra-dark-gray: #293133;
  --lansinfra-light-gray: #D9D9D9;
  --lansinfra-secondary: #08515b;
  --lansinfra-secondary-rgb: 8, 81, 91;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: var(--lansinfra-dark-gray);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: black;
}

.text-lansinfra-orange {
  color: var(--lansinfra-orange);
}

.link-lansinfra-orange {
  font-weight: 600;
  color: var(--lansinfra-orange);
  text-decoration-color: var(--lansinfra-orange);
}

.link-lansinfra-orange:hover,
.link-lansinfra-orange:focus {
  color: #c45a00;
  text-decoration-color: #c45a00;
}

.bg-lansinfra-orange {
  background-color: var(--lansinfra-orange);
  color: #fff;
}

.bg-lansinfra-dark {
  background-color: var(--lansinfra-dark-gray);
  color: #fff;
}

.bg-lansinfra-light {
  background-color: var(--lansinfra-light-gray);
}

.btn-lansinfra-primary {
  background-color: var(--lansinfra-orange);
  border-color: var(--lansinfra-orange);
  color: #fff;
}

.btn-lansinfra-primary:hover {
  background-color: #c55800;
  border-color: #c55800;
  color: white;
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.shape-divider svg {
  display: block;
  width: 100%;
  height: 110px;
}

.fs-sm {
  font-size: 14px;
}

.bg-white {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #293133 !important;
}

.text-dark {
  color: #293133 !important;
}

.btn-dark {
  background-color: #293133 !important;
}

.btn-dark:hover {
  background-color: #000000 !important;
}

.btn-secondary {
  background-color: #58677d !important;
  border-color: #58677d;
}

.btn-secondary:hover {
  background-color: #394455 !important;
  border-color: #394455;
}

.nav-link {
  color: #000000;
  transition: all 0.2ms;
}

.nav-link:hover {
  color: #da5e1c;
  text-decoration: underline;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#da5e1c;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem rgba(244, 106, 31, 0.25);
}

.accordion-button {
  background-color: #fff;
  color: #273030;
}

.accordion-button:hover {
  background-color: rgba(244, 106, 31, 0.05);
}

.accordion-button:not(.collapsed) {
  background-color: #fbf3f0;
  color: #000000;
  box-shadow: none;
  font-weight: bold;
}

.accordion-button:focus {
  border-color: #f46a1f;
}

.custom-toggler {
  width: 28px;
  height: 22px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.custom-toggler:focus {
  box-shadow: none;
}

.toggler-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff7403;
  border-radius: 2px;
  transition: transform 0.35s ease, opacity 0.2s ease, top 0.35s ease;
}

.toggler-line.top {
  top: 0;
}

.toggler-line.middle {
  top: 9px;
}

.toggler-line.bottom {
  top: 18px;
}

.navbar-toggler[aria-expanded="true"] .top {
  top: 9px;
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .middle {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .bottom {
  top: 9px;
  transform: rotate(-45deg);
}

.custom-toggler:hover .toggler-line {
  background-color: #ff8a2b;
}

.custom-toggler:active {
  transform: scale(0.95);
}
