:root {
  --lansinfra-orange: #F46A1F;
  --lansinfra-dark-gray: #2E3336;
  --lansinfra-light-gray: #D9D9D9;
  --lansinfra-secondary: #08515b;
  --lansinfra-secondary-rgb: 8, 81, 91;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: var(--lansinfra-dark-gray);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: black;
}

.text-lansinfra-orange {
  color: var(--lansinfra-orange);
}

.link-lansinfra-orange {
  font-weight: 600;
  color: var(--lansinfra-orange);
  text-decoration-color: var(--lansinfra-orange);
}

.link-lansinfra-orange:hover,
.link-lansinfra-orange:focus {
  color: #c45a00;
  text-decoration-color: #c45a00;
}

.bg-lansinfra-orange {
  background-color: var(--lansinfra-orange);
  color: #fff;
}

.bg-lansinfra-dark {
  background-color: var(--lansinfra-dark-gray);
  color: #fff;
}

.bg-lansinfra-light {
  background-color: var(--lansinfra-light-gray);
}

.btn-lansinfra-primary {
  background-color: var(--lansinfra-orange);
  border-color: var(--lansinfra-orange);
  color: #fff;
}

.btn-lansinfra-primary:hover {
  background-color: #c55800;
  border-color: #c55800;
  color: white;
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.shape-divider svg {
  display: block;
  width: 100%;
  height: 110px;
}

.fs-sm {
  font-size: 14px;
}

.bg-dark {
  background-color: #1b1f25 !important;
}

.btn-dark {
  background-color: #1b1f25 !important;
}

.btn-dark:hover {
  background-color: #000000 !important;
}

.btn-secondary {
  background-color: #58677d !important;
  border-color: #58677d;
}

.btn-secondary:hover {
  background-color: #394455 !important;
  border-color: #394455;
}

.nav-link {
  color: #000000;
  transition: all 0.2ms;
}

.nav-link:hover {
  color: #da5e1c;
  text-decoration: underline;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#da5e1c;
}